{% extends 'admin/baseAdmin.html.twig' %}
{% block title %}{{controller_name}}{% endblock title %}
{% block stylesheets %}
<style>  .btn-ease{
  color: #fff;
  background-color: #009cde;
  border-color: #009cde;
}
</style>
{% endblock %}

{% block content %}
    
      <div class="collapsed d-flex container flex-column mt-4">  
            <table class="table-sm table table-hover rounded shadow-lg p-3 mb-5 mt-2 bg-body">
                    
                <tbody class="align-middle text-start">
                  <tr style="align-middle text-start">
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Mail</th>
                    <th>Portable</th>
                    <th>Societe</th>
                    <th>Subject</th>
                    <th></th>
                  </tr>
                {% for contact in contacts %}
                    <tr>
                       {#  <td>{{ contact.id }}</td> #}
                        <td>{{ contact.nom }}</td>
                        <td>{{ contact.prenom }}</td>
                        <td>{{ contact.mail }}</td>
                        <td>{{ contact.portable }}</td>
                        <td>{{ contact.societe }}</td>
                        <td>{{ contact.subject }}</td>
                        {# <td>{{ contact.message }}</td> #}
                        <td>
                        <!-- Button trigger modal -->
                        {% if is_granted('ROLE_ADMIN') %}
                          
                          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                              <button id="btnGroupDrop1" type="button" class="btn btn-outline-light text-dark border border-secondary rounded btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li><button type="button" class="btn btn-ease dropdown-item" data-bs-toggle="modal" data-bs-target="#show-{{contact.id}}">Afficher</button></li>
                                <li><a href="{{ path ('contact_edit', {'id': contact.id}) }}" class="dropdown-item">Modifier</a></li>
                                <li>{{ include('contact/_delete_form.html.twig', {'id': contact.id}) }}</li>
                              </ul>
                            </div>
                          </div>
                        {% else %}
                          <button type="button" class="btn btn-outline-light text-dark border border-secondary rounded btn-sm" data-bs-toggle="modal" data-bs-target="#show-{{contact.id}}">Afficher</button>
                        {% endif %}
                        <!-- Modal afficher -->
                        <div class="modal fade" id="show-{{contact.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Contact </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                {{ render(path('contact_show', {'id': contact.id})) }}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Champ vide</td>
                    </tr>
                {% endfor %}
                <!-- Modal -->

                </tbody>
            </table>

            {# <a href="{{ path('contact_new') }}">Create new</a> #}
        </div>
      </div>  
{% endblock content %}
