{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Contrat index - Ease & Car{% endblock %}
{% block stylesheets %}
  <style>
    #devis-tab
      .nav-link{
      font-size: .875rem;
      font-weight: bold;
      color : black;
      text-decoration: none;
    }
    #devis-tab
    .nav-link.active.all-tab{
      color: #009cde;
      border-bottom: 2px solid #009cde;
    }
    #devis-tab
    .nav-link.active.valider-tab{
      color: #198754;
      border-bottom: 2px solid #198754;
    }
    #devis-tab
    .nav-link.active.refuser-tab{
      color: #dc3545;
      border-bottom: 2px solid #dc3545;
    }
    #devis-tab
    .nav-link.active.encours-tab{
      color: #ffc107;
      border-bottom: 2px solid #ffc107;
    }
    #devis-tab
    .nav-link.active.enattente-tab{
      color: #6c757d;
      border-bottom: 2px solid #6c757d;
    }
  </style>
{% endblock %}
{% block content %}
<div class="collapsed d-flex container flex-column">
    <h1>Liste des contrats</h1>
    <nav id="devis-tab" class="devis-tab nav shadow-lg bg-body flex-column flex-sm-row mb-2 mt-4">
      <a class="flex-sm-fill fs-5 text-sm-center nav-link active all-tab" id="devis-all-tab" data-bs-toggle="tab" href="#devis-all" role="tab" aria-controls="devis-all" aria-selected="true">All</a>
      <a class="flex-sm-fill fs-5 text-sm-center nav-link valider-tab"  id="devis-valider-tab" data-bs-toggle="tab" href="#devis-valider" role="tab" aria-controls="devis-valider" aria-selected="false">signé</a>
      <a class="flex-sm-fill fs-5 text-sm-center nav-link encours-tab" id="devis-encours-tab" data-bs-toggle="tab" href="#devis-encours" role="tab" aria-controls="devis-encours" aria-selected="false">non signé</a>
    </nav>
        <div class="tab-content" id="devis-tab-content">
            <div class="tab-pane fade show active" id="devis-all" role="tabpanel" aria-labelledby="devis-all-tab">
                <table class="table-sm table mt-4 table-hover rounded shadow-lg p-3 mb-5 mt-2 bg-body">
                    <tbody>
                            <tr>
                                <th>NumContrat</th>
                                <th>RaisonSociale</th>
                                <th>TelephoneClient</th>
                                <th>Type</th>
                                <th>Statut</th>
                                <th>actions</th>
                            </tr>
                        {% for contrat in contrats %}
                           <tr>
                                <td>{{ contrat.numContrat }}</td>
                                <td>{{ contrat.raisonSociale }}</td>
                                <td>{{ contrat.telephoneClient }}</td>
                                <td>{{ contrat.type }}</td>
                                <td>
                                    {% if (contrat.etat =="non signé") %}
                                    <span class="badge bg-warning text-dark">{{ contrat.etat }}</span>
                                    {% elseif ( contrat.etat =="signé") %}
                                    <span class="badge bg-success">{{ contrat.etat }}</span>
                                    {# {% else %}
                                    <span class="badge bg-light text-dark">{{ contrat.etat }}</span> #}
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group align-middle text-start " role="group" aria-label="Button group with nested dropdown">
                                      <div class="btn-group text-start" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-light text-dark border border-secondary rounded btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                          Actions
                                        </button>
                                          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                              <li>
                                                  <a class="btn btn-warning dropdown-item" href="{{path('contrat_edit', {'id': contrat.id})}}">générer contrat</a>{# <button type="button" class="btn btn-warning dropdown-item" data-bs-toggle="modal" data-bs-target="#Edit-{{ devi.id }}"> #}{# </button> #}
                                              </li>
                                              <li>
                                                  <li>{{ include('contrat/_delete_form.html.twig', {'id': contrat.id}) }}</li>
                                              </li>
                                         </ul>
                                      </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="20">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>
{% endblock %}
